# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/
*.env/
*.venv/
.venv/
.venv.bak/
.venv.tmp/
.venv.old/

# MetaCentrum virtualenv
/storage*/**/.virtualenvs/

# Transcription outputs
transcripts/
logs/

.idea

# Large media files
data/*.mp4
*.wav
*.mp3

# Whisper cache
~/.cache/whisper/
~/.c
